.nav {
    display: flex;
    justify-content: center;
    /*height: 50px;*/
    padding: 20px 0 0 10px;
    position: relative;
    /*left:0px;*/
    top: -50px;
    transition: 1s;
}

.nav img {
    position: relative;
    width: 100px;
    left:-400px;
    top: 20px;
}

.nav:hover {
    top: 0;
}
.item {
    margin: 0 20px;
    color: grey;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.item:hover {
    color: olive;
    font-size: 25px;
    font-weight: bolder;
}

.active {
    color: goldenrod;
    font-size: 20px;
    font-weight: bolder;
}